In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
file_one = "../Resources/DataOne.csv"

In [3]:
print(file_one)

../Resources/DataOne.csv

In [4]:
# Read our data file with the Pandas library
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one)

In [5]:
# Show the first five rows.
file_one_df.head()

   id             full_name                       email      gender
0   1  Jacquenette Nesterov  jnesterov0@squarespace.com      female
1   2       Leanora Cashell       lcashell1@blogger.com        male
2   3         Arley Medford     amedford2@newyorker.com        male
3   4     Rafaello Crawshaw     rcrawshaw3@multiply.com        male
4   5     Karalee Hallaways      khallaways4@uol.com.br  non-binary

In [8]:
# Show a single column
file_one_df["email"].head()

0    jnesterov0@squarespace.com
1         lcashell1@blogger.com
2       amedford2@newyorker.com
3       rcrawshaw3@multiply.com
4        khallaways4@uol.com.br
Name: email, dtype: object

In [11]:
# Show mulitple specific columns--note the extra brackets
file_one_df[["full_name", "email"]].head()

                        email      gender
0  jnesterov0@squarespace.com      female
1       lcashell1@blogger.com        male
2     amedford2@newyorker.com        male
3     rcrawshaw3@multiply.com        male
4      khallaways4@uol.com.br  non-binary

In [ ]:
# Show the last five rows.
file_one_df.tail()

In [ ]:
# Export file as a CSV, without the Pandas index, but with the header
file_one_df.to_csv("Output/fileOne.csv", index=False, header=True)