In [9]:
# Dependencies
import pandas as pd

In [10]:
# Create a DataFrame with given columns and value
donors_df = pd.read_csv("../Resources/donors2021.csv")

donors_df.head()

,donorName,employerName,City,State,zipcode,usd
0,"CAREY, JAMES",UNEMPLOYED,HOCKESSIN,DE,197071618.0,500
1,"OBICI, SILVANA",STONY BROOK,PORT JEFFERSON STATION,NY,117764286.0,250
2,"MAISLIN, KAREN",RETIRED,WILLIAMSVILLE,NY,14221.0,250
3,"MCCLELLAND, CARTER AND STEPHANIE",UNION SQUARE ADVISORS,NEW YORK,NY,10023.0,1000
4,"MCCLUSKEY, MARTHA",STATE UNIVERSITY OF NEW YORK,BUFFALO,NY,14214.0,250

In [11]:
# Rename columns for readability
donors_df_renamed = donors_df.rename(columns={
    "donorName": "Donor",
    "employerName":"Employer",
    "zipcode":"Zip Code",
    "usd":"Donation Amount"

})
donors_df_renamed.head

<bound method NDFrame.head of                                  Donor                      Employer  \
0                         CAREY, JAMES                    UNEMPLOYED
1                       OBICI, SILVANA                   STONY BROOK
2                       MAISLIN, KAREN                       RETIRED
3     MCCLELLAND, CARTER AND STEPHANIE         UNION SQUARE ADVISORS
4                    MCCLUSKEY, MARTHA  STATE UNIVERSITY OF NEW YORK
...                                ...                           ...
1813                  KROMHOUT, WILEEN                          UCLA
1814                   KRONHEIM, NANCY                    UNEMPLOYED
1815                      KROOP, STEVE                   FLYTEC, USA
1816                       KRSEK, PAUL                5T WEALTH, LLC
1817                    KRUEGER, BETTY                    UNEMPLOYED

                        City State     Zip Code  Donation Amount
0                  HOCKESSIN    DE  197071618.0              500
1     PORT JEFFERSON STATION    NY  117764286.0              250
2              WILLIAMSVILLE    NY      14221.0              250
3                   NEW YORK    NY      10023.0             1000
4                    BUFFALO    NY      14214.0              250
...                      ...   ...          ...              ...
1813            PORTER RANCH    CA  913263018.0               57
1814               ARLINGTON    VA  222041332.0              100
1815            HIGH SPRINGS    FL  326431608.0               39
1816                    NAPA    CA  945581818.0               20
1817               MUNDELEIN    IL  600606036.0               25

[1818 rows x 6 columns]>

In [12]:
# Organize the columns so that only the donor name,
# amount, employer, and city are displayed. 
# The name and donation amount should be first
donors_df_organized = donors_df_renamed[['Donor', 'Donation Amount', 'Employer', 'City']]